* {
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: "Inter", sans-serif;
}
  
body {
    background-color: #141414;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid red;
}

div {
    background-color: #1F1F1F;
    width: 384px;
}